@media (max-width: 768px) {
    .content-page {
        margin: 10px;
    }
}

.card-container {
    width: 100%;
    display: flex;
}

.content h2 {
    margin: 10px;
    font-size: 1.7rem;
}

.content-header {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.analytic-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    margin: 10px;
    flex: 1;
    min-width: 150px;
    min-height: 150px;
}

.content-table {
    overflow: auto;
    margin-bottom: 20px;
    height: 350px;
    padding: 5px 0px;
    border-radius: 10px;
    scrollbar-width: none;
}

.income-table {
    min-width: 100%;
    width: 1000px;
    border: solid 1px #bfbfbf;
    border-radius: 10px;
    border-collapse: collapse;
}

.table-header {
    padding: 0.75rem 1.5rem;
    text-align: left;
    font-size: 0.75rem;
    font-weight: 500;
    color: #6b7280;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    background-color: #f4f4f4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.tbody-style {
    background-color: white;
}

.table-cell {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    white-space: nowrap;
}

#table-card {
    height: 420px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    margin: 10px;
    flex: 1;
    max-width: 1161px;
}

.table-status {
    padding: 0.25rem 0.5rem;
    display: inline-flex;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.25rem;
    border-radius: 9999px;
    background-color: #D1FAE5;
    color: #06095f;
}

.table-text {
    font-size: 0.875rem;
    color: #111827;
    font-weight: 500;
}

.text-sub {
    font-size: 0.875rem;
    color: #6B7280;
}

.flex-container {
    display: flex;
    align-items: center;
}

.table-button {
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 0.75rem;
    transition: scale background-color 0.2s ease;
}

h3 span {
    font-weight: 400;
    color: #64748B;
    font-size: 0.875rem;
}